@use "./assets/scss/mixins.scss" as *;
body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }
}

h2,
h3,
h4,
.sub-heading {
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  margin: 10px 0 30px;
  line-height: 1;

  @include respond(lg) {
    font-size: 64px;
  }
}

.justify-right-desktop {
  @include respond(lg) {
    display: flex;
    justify-content: flex-end;
    margin: auto;
  }
}

.btn {
  padding: 15px 20px;
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: ease 0.3s;
  text-transform: uppercase;
  font-size: 14px;

  &:hover {
    background-color: transparent;

    color: #000;
  }
}

.text-center {
  text-align: center;
  margin: 0 auto;
  display: block;
}
