@use "../../assets/scss/mixins.scss" as *;

.product-grid {
    .row {
        margin: 0;

        .col-12 {
            &.extra-padding {
                padding: 15px;

                @include respond(lg) {
                    padding: 0 50px;
                }
            }
        }

        .col-lg-3 {
            border: 1px solid #ebebeb;
            padding: 0;

            a {
                text-decoration: none;
                color: #000;

                .card {
                    .card-body {
                        padding: 10px 50px;

                        h4 {
                            font-size: 14px;
                            margin-bottom: 0;
                        }

                        p {
                            margin: 5px 0;

                            &.card-color {
                                color: #767676;
                            }
                            &.card-price {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn {
        margin-top: 20px;
    }

    .form-select {
        padding: 0.4rem 0.8rem;
        border-radius: 0.25rem; 
        border: 1px solid #ebebeb;
        transition:
            border-color 0.2s ease,
            box-shadow 0.2s ease;
        background-color: #fff;
        color: #767676;

        &:focus {
            border-color: #767676;
            box-shadow: 0 0 0 0.2rem rgba(73, 80, 87, 0.25);
            outline: none;
        }
    }
    
}
